NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
JWT_SECRET=your_jwt_secret

# SHOPIFY CONFIG
SHOPIFY_DOMAIN=your-store.myshopify.com
SHOPIFY_ACCESS_TOKEN=your_shopify_access_token
SHOPIFY_API_KEY=shopify_api_key
SHOPIFY_API_SECRET=your_shopify_api_secret





# CURRENT API VERSION
# Do not update this as there may be unintended consequences.
API_VERSION='v1'
